---
import Experiencia from '../components/Experiencia.astro';
import Layout from '../layouts/Layout.astro';

---

<Layout title="Mi portafolio.">
	<section class="ml-80 pt-10 text-gray-50 overflow-x-hidden max-md:ml-0 max-md:pt-1 max-md:pl-5 overflow-hidden" id="about">
        <h1 class="text-3xl font-bold flex items-center gap-4 mb-10">Experiencia
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-code" width="34" height="34" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 8l-4 4l4 4" /><path d="M17 8l4 4l-4 4" /><path d="M14 4l-4 16" /></svg>
        </h1>
        <Experiencia/>
    </section>
</Layout>
