---
import Aboutme from '../layouts/Aboutme.astro';
import Home from '../layouts/Home.astro';
import Layout from '../layouts/Layout.astro';
import Experience from './Experience.astro';
---

<Layout title="Mi portafolio.">
    <div>
        <Home/>
        <Aboutme/>
    </div>
</Layout>
