---
import ProjectPreview from '../components/ProjectPreview.astro';
import Layout from '../layouts/Layout.astro';

const projects = await Astro.glob('./projects/*md')

---

<Layout title="Mi portafolio.">
    <section class="ml-72 pt-10 overflow-x-hidden max-md:ml-0 max-md:pt-1 relative overflow-hidden" id="home">
        {
            projects.map(project => <ProjectPreview {... project} project={project} />)
        }        
    </section>
</Layout>
