<div>
    <div>
        <div class="grid gap-4 mb-10">
            <div class="flex">
                <div>
                    <span class="w-3 h-3 bg-yellow-300 block rounded-full mt-1"></span>
                    <span class="bg-gray-600 block h-full w-[1px] translate-x-[6px]"></span>
                </div>
                <div class=" bd-grid px-5">
                    <h3 class="font-bold text-2xl max-sm:text-lg mb-1">F5 SOLUTIONS</h3>
                    <div class="flex justify-between mb-3">
                        <span class="font-light text-sm">Practicante pre profesional | Ingeniero de sistemas</span>
                        <span class="font-semibold text-sm ">18/09/23 - 19/01/24</span>
                    </div>
                    <p class="my-2 text-justify pr-16">
                        En esta etapa he adquirido mucho conocimiento y experiencia durante la trayectoria estuve presente en varios proyectos donde destaqué por mi comunicación acertiva y aporte de ideas y habilidades</p>                </div>
                </div>
                <div>
                    <div class="flex">
                        <div>
                            <span class="w-3 h-3 bg-yellow-300 block rounded-full mt-1"></span>
                            <span class="bg-gray-600 block h-full w-[1px] translate-x-[6px]"></span>
                        </div>
                    <div class=" bd-grid px-5">
                        <h3 class="font-semibold mb-1">Logros</h3>
                        <span class="font-light text-sm"></span>
                        <p class="my-1 text-justify pr-16 flex flex-col"> 
                            <ul>
                                <li class="list-disc ml-5"> Lider del proyecto de la plataforma DevCollab <span class="text-sm font-bold">(3er puesto en concurso WeLatin@s)</span> </li>
                                <li class="list-disc ml-5"> Lider del Sistema de predios</li>
                            </ul>     
                        </p>
                    </div>
                </div>
                <div class="mt-3">
                    <div class="flex">
                        <div>
                            <span class="w-3 h-3 bg-yellow-300 block rounded-full mt-1"></span>
                            <span class="bg-gray-600 block h-full w-[1px] translate-x-[6px]"></span>
                        </div>
                    <div class=" bd-grid px-5">
                        <h3 class="font-semibold mb-1">Roles y Conocimiento</h3>
                        <span class="font-light text-sm"></span>
                        <p class="my-1 text-justify pr-16 flex flex-col"> 
                            <ul>
                                <li class="list-disc ml-5">FullStack Developer | Backend Developer</li>
                                <li class="list-disc ml-5">Django | Laravel | React | PostgreSQL | MySQL | Tailwind | Astro | Github | Git</li>
                            </ul>     
                        </p>
                    </div>
                </div>
                <div class="grid gap-4 mt-10">
                    <div class="flex">
                        <div>
                            <span class="w-3 h-3 bg-yellow-300 block rounded-full mt-1"></span>
                            <span class="bg-gray-600 block h-full w-[1px] translate-x-[6px]"></span>
                        </div>
                        <div class=" bd-grid px-5">
                            <h3 class="font-bold text-2xl max-sm:text-lg mb-1">
                                Innovación Solar Perú
                            </h3>
                            <div class="flex justify-between mb-3">
                                <span class="font-light text-sm">Practicante profesional | Ingeniero de sistemas</span>
                                <span class="font-semibold text-sm ">01/01/24 - 20/06/24</span>
                            </div>
                            <p class="my-1 text-justify pr-16">
                                Desarrollo de página web utilizando React, Astro y Tailwind, e incorporé un Chatbot personalizado implementado con React. Además, 
                                realicé mejoras significativas en la optimización para los motores de búsqueda (SEO) y el rendimiento general del sitio, lo que permitió una 
                                transición efectiva hacia la era digital para la empresa
                            </p>                
                            </div>
                        </div>
                        <div>
                            <div class="flex">
                                <div>
                                    <span class="w-3 h-3 bg-yellow-300 block rounded-full mt-1"></span>
                                    <span class="bg-gray-600 block h-full w-[1px] translate-x-[6px]"></span>
                                </div>
                            <div class=" bd-grid px-5">
                                <h3 class="font-semibold  mb-1">Logros</h3>
                                <span class="font-light text-sm"></span>
                                <p class="my-1 text-justify pr-16 flex flex-col"> 
                                    <ul>
                                        <li class="list-disc ml-5 mb-2">
                                            Lanzamiento exitoso del Ecommerce "Innovación Solar Perú Shop", utilizando Django, MySQL, Tailwind y Azure 
                                            Storages para la gestión eficiente de archivos multimedia. La aplicación se encuentra desplegada en la plataforma Render.
                                        </li>
                                        <li class="list-disc ml-5">
                                            Desarrollé un sistema de gestión de personal basado en Django, MySQL, Tailwind y Azure para los archivos multimedia, diseñado para la 
                                            administración integral de empleados y el control de asistencia en tiempo real con WebSockets.
                                        </li>
                                    </ul>     
                                </p>
                            </div>
                        </div>
                        <div class="mt-3">
                            <div class="flex">
                                <div>
                                    <span class="w-3 h-3 bg-yellow-300 block rounded-full mt-1"></span>
                                    <span class="bg-gray-600 block h-full w-[1px] translate-x-[6px]"></span>
                                </div>
                            <div class=" bd-grid px-5">
                                <h3 class="font-semibold mb-1">Roles y Conocimiento</h3>
                                <span class="font-light text-sm"></span>
                                <p class="my-2 text-justify pr-16 flex flex-col"> 
                                    <ul>
                                        <li class="list-disc ml-5">
                                            Django | React | Astro | Tailwind | MySQL | Azure | Render | WebSockets | Chatbot | SEO
                                        </li>
                                    </ul>     
                                </p>
                            </div>
                        </div>
                        
    </div>
</div>
