<div>
    <div>
        <div class="grid gap-4 mb-10">
            <div class="flex">
                <div>
                    <span class="w-4 h-4 bg-primary block rounded-full mt-1"></span>
                    <span class="bg-primary block h-full w-[2px] translate-x-[7px]"></span>
                </div>
                <div class=" bd-grid px-5">
                    <h3 class="font-bold text-2xl mb-1">F5 SOLUTIONS</h3>
                    <div class="flex justify-between mb-3">
                        <span class="font-light text-sm">Practicante pre profesional | Ingeniero de sistemas</span>
                        <span class="font-semibold text-sm ">18/09/23 - 19/01/24</span>
                    </div>
                    <p class="my-2 text-justify pr-16">
                        En esta etapa he adquirido mucho conocimiento y experiencia durante la trayectoria estuve presente en varios proyectos donde destaqué por mi comunicación acertiva y aporte de ideas y habilidades</p>
                        Me ayudó demasiado en aprender mucho sobre proyectos con equipos, la comunicación asertiva y el escucha activa.
                </div>
            </div>
        <div>
            <div class="flex">
            <div>
                <span class="w-4 h-4 bg-primary block rounded-full mt-1"></span>
                <span class="bg-primary block h-full w-[2px] translate-x-[7px]"></span>
            </div>
            <div class=" bd-grid px-5">
                <h3 class="font-bold text-lg mb-1">Logros</h3>
                <span class="font-light text-sm"></span>
                <p class="my-2 text-justify pr-16 flex flex-col"> 
                    <ul>
                        <li class="list-disc ml-5"> Lider del proyecto de la plataforma DevCollab <span class="text-sm font-bold">(3er puesto en concurso WeLatin@s)</span> </li>
                        <li class="list-disc ml-5"> Lider del Sistema de predios</li>
                    </ul>     
                </p>
            </div>
        </div>
        <div class="mt-3">
            <div class="flex">
            <div>
                <span class="w-4 h-4 bg-primary block rounded-full mt-1"></span>
                <span class="bg-primary block h-full w-[2px] translate-x-[7px]"></span>
            </div>
            <div class=" bd-grid px-5">
                <h3 class="font-bold text-lg mb-1">Roles y Conocimiento</h3>
                <span class="font-light text-sm"></span>
                <p class="my-2 text-justify pr-16 flex flex-col"> 
                    <ul>
                        <li class="list-disc ml-5">FullStack Developer | Backend Developer</li>
                        <li class="list-disc ml-5">Django - Laravel - Vue.js</li>
                        <li class="list-disc ml-5">Tailwind - Astro.js</li>
                        <li class="list-disc ml-5">Github - Git</li>
                    </ul>     
                </p>
            </div>
        </div>
    </div>
</div>