---
    interface Props{
        title : string;
        descrip:string;
        img:string;
    }
    const {title,descrip,img}= Astro.props
---
<div class="max-sm:flex-col max-sm:justify-center max-sm:p-3 p-5 flex gap-3 items-center border-b-2 border-gray-600 pb-10  hover:scale-[101%] hover:shadow-gray-950 duration-500">
    <img src={img} alt="logo" class="w-60 py-2 rounded-lg max-sm:w-max">
    <div class="ml-3">
        <h1 class="text-lg font-bold text-gray-300 gap-2">{title}
            <button class="p-1 bg-black rounded-sm text-xs animate-pulse">
                NEW
            </button>
        </h1>
        <p class="text-gray-200">
            {descrip}    
        </p>
    </div>
</div>