---
    interface Props{
        title : string;
    }
    const {title}= Astro.props
---
<div class="max-sm:flex-col max-sm:justify-center max-sm:p-3 p-5 flex gap-3 items-center border-b-2 border-gray-600 pb-10 shadow-md hover:shadow-lg hover:scale-[101%] hover:shadow-gray-950 duration-500">
    <img src="logos/animatedlogo.jpg" alt="logo" class="w-36 py-2 rounded-lg max-sm:w-44">
    <div>
        <h1 class="text-lg font-bold text-gray-300 gap-2">{title}
            <button class="p-1 bg-black rounded-sm text-xs animate-pulse">
                NEW
            </button>
        </h1>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam repudiandae blanditiis sed! Ut nemo provident tenetur voluptatibus vero quos ratione laboriosam obcaecati libero sed cum illo odio laborum, quasi dicta.
        </p>
    </div>
</div>