<section class="ml-80 w-1/2 max-lg:w-full pt-10  overflow-x-hidden max-lg:ml-0 max-lg:pt-10 max-lg:pl-10 max-sm:pl-5 overflow-hidden" id="about">
    <div>
        <h1 class="text-3xl font-bold flex items-center gap-4 mb-10 text-white">Sobre Mi
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-code" width="34" height="34" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 8l-4 4l4 4" /><path d="M17 8l4 4l-4 4" /><path d="M14 4l-4 16" /></svg>
        </h1>
        <div>
            <div class="grid gap-4 mb-10">
                <div class="flex text-gray-300">
                    <div>
                        <span class="w-3 h-3 bg-yellow-300 block rounded-full mt-1"></span>
                        <span class="bg-gray-600 block h-full w-[1px] translate-x-[6px]"></span>
                    </div>
                    <div class="bd-grid px-5">
                        <h3 class="font-bold mb-1 text-xl">Educacion</h3>
                        <span class="font-light text-base">Ingenieria de software con inteligencia artificial</span>
                        <p class="my-2 text-justify pr-16">
                            SENATI - Servicio Nacional de Adiestramiento en Trabajo Industrial Estudios en la carrera de ingeniera de software en el instituto Senati , el periodo de carrera de duración 3 años
                        </p>
                    </div>
                </div>
            <div>
                <div class="flex text-gray-300">
                    <div>
                        <span class="w-3 h-3 bg-yellow-300 block rounded-full mt-1"></span>
                        <span class="bg-gray-600 block h-full w-[1px] translate-x-[6px]"></span>
                    </div>
                    <div class=" bd-grid px-5">
                        <h3 class="font-bold text-xl mb-1">Sobre mi</h3>
                        <span class="font-light text-sm">AnderDev</span>
                        <p class="my-2 text-justify pr-16"> 
                            FullStack developer , Conocimientos sólidos en las tecnologías como Python con sus framework Django asi tambien con JavaScript con React, con actitud fuerte de liderazgo, comunicación acertiva, buen trabajo en equipo
                            . Siempre dispuesto a aprender nuevas tecnologías.       
                        </p>
                        <p class="my-2 text-justify pr-16 flex flex-col"> 
                            <ul>
                                <li> 📌 Perú - Lima - San Martin de Porres</li>
                                <li> 📧 andymarcelo21@outlook.es</li>
                                <li> 📞 941166905</li>
                            </ul>     
                        </p>
                    </div>
                    
            
                
                </div>
                <div class="flex mt-5 text-gray-50">
                    <div>
                        <span class="w-3 h-3 bg-yellow-300 block rounded-full mt-1"></span>
                        <span class="bg-gray-600 block h-full w-[1px] translate-x-[6px]"></span>
                    </div>
                    <div class=" bd-grid px-5">
                        <h3 class="font-bold mb-1 text-xl">Logros</h3>
                        <p class="my-2 text-justify pr-16 flex flex-col"> 
                            <ul class="text-gray-50">
                                <li>⭐ Reconocido por Huawei Cloud, Initiative Leadership Award</li>
                                <li>⭐ 3er lugar en el concurso internacional de WeLatin@s total de 140 equipos</li>
                            </ul>     
                        </p>
                    </div>
                    
            
                
                </div>
            <div class="mt-10">
                <div class="flex text-gray-50">
                <div>
                    <span class="w-3 h-3 bg-yellow-300 block rounded-full mt-1"></span>
                    <span class="bg-gray-600 block h-full w-[1px] translate-x-[6px]"></span>
                </div>
            <div class=" bd-grid px-5">
                    <h3 class="font-bold mb-1 text-xl">Habilidades</h3>
                    <span class="font-light text-sm"></span>
                    <p class="my-2 text-justify pr-16 flex flex-col"> 
                        <ul>
                            <li class="list-disc ml-5"> Backend : <span class="text-gray-200">Python - JavaScript - Django - Django Rest Framework</span> </li>
                            <li class="list-disc ml-5"> Frontend : <span class="text-gray-200">React - Redux - Astro - Tailwind - HTML - CSS</span> </li>
                            <li class="list-disc ml-5"> Databases : <span class="text-gray-200">SQL - MySQL - PostgreSQL - MongoDB</span> </li>
                            <li class="list-disc ml-5"> Others and <span class="text-gray-200">Versions : Git - Github - VSCode - PyCharm - API's - AWS - AZURE</span> </li>
                        </ul>     
                    </p>
            </div>
            </div>
            <div class="mt-10">
                <div class="flex text-gray-50">
                <div>
                    <span class="w-3 h-3 bg-yellow-300 block rounded-full mt-1"></span>
                    <span class="bg-gray-600 block h-full w-[1px] translate-x-[6px]"></span>
                </div>
                <div class=" bd-grid px-5">
                    <h3 class="font-bold text-xl mb-1">Habilidades blandas</h3>
                    <span class="font-light text-sm"></span>
                    <p class="my-2 text-justify pr-16 flex flex-col"> 
                        <ul>
                            <li class="list-disc ml-5"> Liderazgo</li>
                            <li class="list-disc ml-5"> Comunicacion asertiva</li>
                            <li class="list-disc ml-5"> Escucha activa</li>
                            <li class="list-disc ml-5"> Puntual - Honesto</li>
                        </ul>     
                    </p>
                </div>
            </div>
            </div>
    </div>
</section>
