<section class="ml-80 pt-10 overflow-x-hidden max-md:ml-0 max-md:pt-1 max-md:pl-5 overflow-hidden" id="about">
    <div>
        <h1 class="text-3xl font-bold flex items-center gap-4 mb-10">Sobre Mi
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-code" width="34" height="34" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M7 8l-4 4l4 4" /><path d="M17 8l4 4l-4 4" /><path d="M14 4l-4 16" /></svg>
        </h1>
        <div>
            <div class="grid gap-4 mb-10">
                <div class="flex">
            <div>
                <span class="w-4 h-4 bg-primary block rounded-full mt-1"></span>
                <span class="bg-primary block h-full w-[2px] translate-x-[7px]"></span>
            </div>
            <div class=" bd-grid px-5">
                <h3 class="font-semibold mb-1">Educacion</h3>
                <span class="font-light text-sm">Ingenieria de software con IA</span>
                <p class="my-2 text-justify pr-16">
                    SENATI - Servicio Nacional de Adiestramiento en Trabajo Industrial Estudios en la carrera de ingeniera de software en el instituto Senati , el periodo de carrera de duraci칩n 3 a침os
                </p>
            </div>
            </div>
            <div>
                <div class="flex">
                <div>
                    <span class="w-4 h-4 bg-primary block rounded-full mt-1"></span>
                    <span class="bg-primary block h-full w-[2px] translate-x-[7px]"></span>
                </div>
                <div class=" bd-grid px-5">
                    <h3 class="font-semibold mb-1">About me</h3>
                    <span class="font-light text-sm">AnderDev</span>
                    <p class="my-2 text-justify pr-16"> 
                        FullStack developer , Conocimientos s칩lidos en las tecnolog칤as como Python con sus framework Django asi tambien con PHP con Laravel, con actitud fuerte de liderazgo, comunicaci칩n acertiva, buen trabajo en equipo
                        . Siempre dispuesto a aprender nuevas tecnolog칤as.       
                    </p>
                    <p class="my-2 text-justify pr-16 flex flex-col"> 
                        <ul>
                            <li> 游늷 Per칰 - Lima - San Martin de Porres</li>
                            <li> 游닎 andymarcelo21@outlook.es</li>
                            <li> 游 941166905</li>
                        </ul>     
                    </p>
                </div>
            
                
            </div>
            <div class="mt-10">
                <div class="flex">
                <div>
                    <span class="w-4 h-4 bg-primary block rounded-full mt-1"></span>
                    <span class="bg-primary block h-full w-[2px] translate-x-[7px]"></span>
                </div>
                <div class=" bd-grid px-5">
                    <h3 class="font-semibold mb-1">Habilidades</h3>
                    <span class="font-light text-sm"></span>
                    <p class="my-2 text-justify pr-16 flex flex-col"> 
                        <ul>
                            <li class="list-disc ml-5"> Backend : <span class="font-bold">Python - PHP - JavaScript - Django - Laravel</span> </li>
                            <li class="list-disc ml-5"> Frontend : <span class="font-bold"> Astro - Tailwind - Vue.js - HTML - CSS</span> </li>
                            <li class="list-disc ml-5"> Databases : <span class="font-bold">SQL - MySQL - PostgreSQL - MongoDB</span> </li>
                            <li class="list-disc ml-5"> Others and <span class="font-bold">Versions : Git - Github - VSCode - PyCharm</span> </li>
                        </ul>     
                    </p>
                </div>
            </div>
            <div class="mt-10">
                <div class="flex">
                <div>
                    <span class="w-4 h-4 bg-primary block rounded-full mt-1"></span>
                    <span class="bg-primary block h-full w-[2px] translate-x-[7px]"></span>
                </div>
                <div class=" bd-grid px-5">
                    <h3 class="font-semibold mb-1">Habilidades blandas</h3>
                    <span class="font-light text-sm"></span>
                    <p class="my-2 text-justify pr-16 flex flex-col"> 
                        <ul>
                            <li class="list-disc ml-5"> Liderazgo</li>
                            <li class="list-disc ml-5"> Comunicacion asertiva</li>
                            <li class="list-disc ml-5"> Escucha activa</li>
                            <li class="list-disc ml-5"> Puntual - Honesto</li>
                        </ul>     
                    </p>
                 </div>
            </div>
        </div>
    </div>
</section>