---
import Proyect from "../components/Proyect.astro";

---

<section class="ml-72 pt-10 flex flex-col   overflow-x-hidden max-lg:ml-0 max-md:pt-1 relative overflow-hidden" id="home">
    <div class="px-10 w-full flex flex-col gap-2">
        <h1 class="text-xl  text-gray-300">Hey there 👋 </h1>
        <h1 class="text-5xl max-md:text-4xl font-extrabold animateh1 text-white">I'm Anderson Marcelo </h1>
        <p class="text-xl text-gray-200">Software Enginner with IA & FullStack Developer</p>
        <p class="mt-2 w-2/3 max-lg:w-full text-lg font-semibold text-gray-200 ">
            I am a <span class="text-yellow-300">Software developer deeply committed to cultivating and disseminating knowledge</span> particularly in the realms of <span class="text-violet-300">Fullstack Web Development and Data Science.</span>
        </p>
        
        <!-- Botones -->
        <div class="flex mt-5 gap-3 text-gray-200">
            <a href="https://github.com/Anderson0421" aria-label="Github" title="Github" target="_blank" class="px-7 py-2 border border-gray-600 hover:border-gray-400 bg-gray-800 rounded-3xl max-sm:px-4 max-sm:text-sm   flex items-center gap-x-2 hover:bg-gray-700 duration-300 transition-all ">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-github" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" /></svg>
            </a>
            <a href="https://www.linkedin.com/in/anderson-marcelo-herrera-2a898a250/" aria-label="Github" title="Github" target="_blank" class="px-7 py-2 border border-gray-600 hover:border-gray-400 bg-gray-800 rounded-3xl max-sm:px-4 max-sm:text-sm   flex items-center gap-x-2 hover:bg-gray-700 duration-300 transition-all ">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-linkedin" width="25" height="25" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" /><path d="M8 11l0 5" /><path d="M8 8l0 .01" /><path d="M12 16l0 -5" /><path d="M16 16v-3a2 2 0 0 0 -4 0" /></svg>
            </a>
            <a href="Cv.pdf" type="downland" target="_blank" class="px-7 text-gray-200 py-2 border border-gray-600 hover:border-gray-400 bg-gray-800 rounded-3xl max-sm:px-4 max-sm:text-sm   flex items-center gap-x-2 hover:bg-gray-700 duration-300 transition-all ">
                <svg xmlns="http://www.w3.org/2000/svg" class=" icon icon-tabler icon-tabler-download" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" /><path d="M7 11l5 5l5 -5" /><path d="M12 4l0 12" /></svg>
                Download CV
            </a>
        </div>
    </div>
    <div class="px-10 w-full pt-10">
        <h1 class="text-3xl text-gray-50 font-bold flex gap-5 items-center max-md:text-center max-md:justify-center flex-wrap">My last projects
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2.5" stroke="currentColor" class="w-7 h-7">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 6.75 22.5 12l-5.25 5.25m-10.5 0L1.5 12l5.25-5.25m7.5-3-4.5 16.5" />
            </svg>
        </h1>
        <div class="flex gap-y-8 flex-col max-sm:gap-y-10">
            <a href="#proyectos" class="w-3/4 max-xl:w-full">
                <Proyect img="blogpersonal/blogportada.png" title="Blog Personal" descrip="Desarrollo de una API con Django Rest, respaldada por una base de datos MySQL en Azure, para el almacenamiento de imagenes . Integración con React y Tailwind para el desarrollo del Frontend y consumo eficiente de la API"></Proyect>
                <Proyect img="innovasolar/ecommerce.png" title="Innovacion Solar Ecommerce" descrip="Ecommerce desarrollado para la empresa Innovacion Solar Peru, desarrollado en Django, Tailwind, MySQL y Azure, Incluye Carrito de compras, y metodo de pago con ZiPago, SweetAlert, etc."></Proyect>
            </a>
        </div>
    </div>
</section>
