---
import Proyect from "../components/Proyect.astro";

---

<section class="ml-72 pt-10 flex flex-col  overflow-x-hidden max-md:ml-0 max-md:pt-1 relative overflow-hidden" id="home">
    <div class="px-10 w-full flex flex-col gap-1">
        <h1 class="text-lg">Hey there 👋 </h1>
        <h1 class="text-4xl font-extrabold animateh1">I'm Anderson Marcelo </h1>
        <p class="text-xl">Software Enginner with IA & FullStack Developer</p>
        <p class="mt-2">Software engineer. FullStack Developer, self-taught person with a strong attitude of leadership and creativity, I have an innate passion for constant and autonomous learning</p>
        
        <!-- Botones -->
        <div class="flex mt-7 gap-3">
            <a href="https://github.com/Anderson0421" aria-label="Github" title="Github" target="_blank" class="px-7 py-2 bg-gray-900 rounded-lg max-sm:px-4 max-sm:text-sm   flex items-center gap-x-2 hover:bg-gray-800 duration-300 transition-colors ">
                <svg xmlns="http://www.w3.org/2000/svg" class=" icon icon-tabler icon-tabler-brand-github" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 19c-4.3 1.4 -4.3 -2.5 -6 -3m12 5v-3.5c0 -1 .1 -1.4 -.5 -2c2.8 -.3 5.5 -1.4 5.5 -6a4.6 4.6 0 0 0 -1.3 -3.2a4.2 4.2 0 0 0 -.1 -3.2s-1.1 -.3 -3.5 1.3a12.3 12.3 0 0 0 -6.2 0c-2.4 -1.6 -3.5 -1.3 -3.5 -1.3a4.2 4.2 0 0 0 -.1 3.2a4.6 4.6 0 0 0 -1.3 3.2c0 4.6 2.7 5.7 5.5 6c-.6 .6 -.6 1.2 -.5 2v3.5" /></svg>
                
            </a>
            <a href="Certificados/Cv.pdf" type="downland" target="_blank" class="px-7 py-2 bg-gray-900 rounded-lg max-sm:px-4 max-sm:text-sm   flex items-center gap-x-2 hover:bg-gray-800 duration-300 transition-colors ">
                <svg xmlns="http://www.w3.org/2000/svg" class=" icon icon-tabler icon-tabler-download" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2" /><path d="M7 11l5 5l5 -5" /><path d="M12 4l0 12" /></svg>
                Download CV
            </a>
        </div>
    </div>
    <div class="px-10 w-full pt-10">
        <h1 class="text-3xl font-bold flex gap-5 items-center max-md:text-center max-md:justify-center flex-wrap">My last projects
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-vscode" width="35" height="35" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M16 3v18l4 -2.5v-13z" /><path d="M9.165 13.903l-4.165 3.597l-2 -1l4.333 -4.5m1.735 -1.802l6.932 -7.198v5l-4.795 4.141" /><path d="M16 16.5l-11 -10l-2 1l13 13.5" /></svg>
        </h1>
        <div class="flex gap-y-8 flex-col max-sm:gap-y-10">
            <a href="/Projects" class="w-2/3 max-xl:w-full">
                <Proyect img="blogpersonal/blog2.png" title="Blog Personal" descrip="Blog personal desarollado con Django para el Backend y Tailwind para el frontend, Proyecto desplegado en Render con base de datos PostgreSQL"></Proyect>
                <Proyect img="devcollab/img.jpg" title="Plataforma DevCollab" descrip="DevCollab es una plataforma web en el que podrás realizar proyectos, aprender y aún más, poder generar relaciones profesionales y empresariales, abriéndose grandes oportunidades de trabajo.Desarollado en Django con Tailwind y PostgreSQL"></Proyect>
            </a>
        </div>
    </div>
</section>

<style is:global>
    @import url('https://fonts.googleapis.com/css2?family=Onest:wght@100;200;400;500;600;700;800;900&display=swap');
    *{
        font-family: 'Onest', sans-serif;
    }
    .animateh1{
        position: sticky;
        animation:traistionheader linear both;
        animation-timeline: scroll(root);
        animation-range: 0 200px;
    }
    @keyframes traistionheader{
        to{
            backdrop-filter: blur(5px);
            font-size: 18px;
            color: black;
        }
        
    }
</style>
