---
import Sidebar from './Sidebar.astro';

---
<!doctype html>
<html lang="en" data-theme="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/code.svg" />
		<title>
			Portafolio de Anderson Marcelo
		</title>
	</head>
	<body class="bg-black">
		<Sidebar/>
		<div class="absolute top-0 z-[-2] h-screen w-full bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"></div>
		<slot />
		<script>
			document.addEventListener('DOMContentLoaded', () => {
				const BtnMenu = document.getElementById('BtnMenu');
				const sidebar = document.getElementById('sidebar');
				const svg = BtnMenu.querySelector('svg');

			BtnMenu.addEventListener('click', (event) => {
				event.stopPropagation(); 

				sidebar.classList.toggle('hidden');
				sidebar.classList.add('open');

				if (sidebar.classList.contains('hidden')) {
					svg.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 6l16 0" /><path d="M4 12l16 0" /><path d="M4 18l16 0" /></svg>';
				} else {
					svg.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>';
				}
			});
			document.addEventListener('click', (event) => {
				const isClickInsideSidebar = sidebar.contains(event.target);
				const isClickInsideBtnMenu = BtnMenu.contains(event.target);

				if (!isClickInsideSidebar && !isClickInsideBtnMenu) {
					sidebar.classList.add('hidden');
					sidebar.classList.remove('open');
					svg.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 6l16 0" /><path d="M4 12l16 0" /><path d="M4 18l16 0" /></svg>';
				}
			});
		});

		document.addEventListener('astro:page-load', function () {
			var navLinks = document.querySelectorAll('.nav-link');
			var currentUrl = window.location.pathname;

			navLinks.forEach(function (link) {
				link.classList.remove('active');

				if (link.getAttribute('href') === currentUrl) {
					link.classList.add('active');
				}
			});
		});
		</script>
		<style is:global>
			@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100;200;400;500;600;700;800;900&display=swap');
			*{
				font-family: 'Onest', sans-serif;
			}
			::-webkit-scrollbar {
				width: 12px;
			}
			::-webkit-scrollbar-track {
				background: #070018;
			}
			::-webkit-scrollbar-thumb {
				background: #360675;
				border-radius: 10px;
			}
			::-webkit-scrollbar-thumb:hover {
				background: #555;
			}
		</style>
	</body>
</html>
