---
import { ViewTransitions } from 'astro:transitions';
import Home from './Home.astro';
import Sidebar from './Sidebar.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---
<!doctype html>
<html lang="en" data-theme="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<title>{title}</title>
		<ViewTransitions/>
	</head>
	<body>
		<Sidebar/>
		<slot />
		<script>
			document.addEventListener('astro:page-load', () => {
				const BtnMenu = document.getElementById('BtnMenu');
				const sidebar = document.getElementById('sidebar');
				const svg = BtnMenu.querySelector('svg');

			BtnMenu.addEventListener('click', (event) => {
				event.stopPropagation(); 

				sidebar.classList.toggle('hidden');
				sidebar.classList.add('open');

				if (sidebar.classList.contains('hidden')) {
					svg.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 6l16 0" /><path d="M4 12l16 0" /><path d="M4 18l16 0" /></svg>';
				} else {
					svg.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 6l-12 12" /><path d="M6 6l12 12" /></svg>';
				}
			});
			document.addEventListener('click', (event) => {
				const isClickInsideSidebar = sidebar.contains(event.target);
				const isClickInsideBtnMenu = BtnMenu.contains(event.target);

				if (!isClickInsideSidebar && !isClickInsideBtnMenu) {
					sidebar.classList.add('hidden');
					sidebar.classList.remove('open');
					svg.innerHTML = '<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-menu-2" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 6l16 0" /><path d="M4 12l16 0" /><path d="M4 18l16 0" /></svg>';
				}
			});
		});

		document.addEventListener('astro:page-load', function () {
				var navLinks = document.querySelectorAll('.nav-link');
				var currentUrl = window.location.href;
				var lastActiveLink = sessionStorage.getItem('lastActiveLink');

				if (lastActiveLink) {
					document.querySelector(lastActiveLink).classList.add('active');
				}

				navLinks.forEach(function (link) {
					link.addEventListener('click', function () {
					navLinks.forEach(function (navLink) {
						navLink.classList.remove('active');
					});
					link.classList.add('active');
					sessionStorage.setItem('lastActiveLink', '.' + link.classList[1]);


					});

					// Marca el enlace activo según la URL actual
					if (currentUrl.includes(link.getAttribute('href'))) {
					link.classList.add('active');
					}
				});
			})
		</script>
	</body>
</html>
